.card{
    width: 180px;
    border-radius: 5px;
    color: #fff;
}

.pokemonId{
    text-align: end;
    padding: 7px;
}

.pokemonName{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

.boxPhoto{
    width: 70%;
    margin: 0 auto;
}

.photo{
    width: 100%;
}

.types{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
}

span{
    padding: 7px;
    border-radius: 15px;
    font-size: 15px;
    filter: brightness(1.1);
    text-align: center;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}