.container{
    margin: 30px;
    background-color: white;
    border-radius: 20px;
}

h1{
    color: rgb(82, 81, 81);
    padding: 15px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    padding: 15px;
    justify-content: center;
}

.load{
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
    color: #fff;
    background-color: #6c79db;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 15px;
}